    <h1
        class="unchanged"
        contenteditable>
        untitled
    </h1>
    <ul>
        <li>
            <fieldset>
                <input
                    type="checkbox">
                <input
                    type="number"
                    value="12">
                <input
                    type="text"
                    value="Eggs">
            </fieldset>
        </li>
        <li>
            <fieldset>
                <input
                    type="checkbox"
                    checked>
                <input
                    type="number">
                <input
                    type="text"
                    value="Milk">
            </fieldset>
        </li>
        <li>
            <fieldset>
                <input
                    type="checkbox">
                <input
                    type="number">
                <input
                    type="text">
            </fieldset>
        </li>
    </ul>

