<form
    id="delete">
    <fieldset>
        <legend>
            Delete this list
        </legend>
        <p>Really delete this list? This cannot be undone.</p>
    </fieldset>
    <fieldset>
        <button
            type="submit">
            Delete
        </button>
        <button
            type="reset">
            Cancel
        </button>
    </fieldset>
</form>
<form
    id="share">
    <fieldset>
        <legend>
            Share this list
        </legend>
        <label
            for="share-email">
            E-mail
        </label>
        <input
            type="email"
            id="share-email"
            placeholder="john@example.com">
        <label
            for="share-tel">
            SMS
        </label>
        <input
            type="tel"
            id="share-tel"
            placeholder="0046704069001">
    </fieldset>
    <fieldset>
        <button
            type="submit">
            Share
        </button>
        <button
            type="reset">
            Cancel
        </button>
    </fieldset>
</form>
<h1
    class="unchanged"
    contenteditable>
    untitled
</h1>
<ul class="list">
<% for(var i = 0; i < list.length; i++) { %>
    <li>
        <fieldset>
            <input
                id="li-<%= i %>-checkbox"
                type="checkbox"
                <% if(list[i]["status"] == '0') { %>checked<% } %>>
            <label for="li-<%= i %>-checkbox"></label>
            <input
                type="number"
                value="<%= list[i]["num"] %>">
            <input
                type="text"
                value="<%= list[i]["text"] %>">
        </fieldset>
    </li>
<% } %>
</ul>
<ul class="actions">
    <li>
        <a
            href="#share">Share</a>
    </li>
     <li>
        <a
            href="#delete">Delete</a>
    </li>
</ul>
