<!doctype html>
<html
    manifest="default.appcache?v=1">
<head>
    <meta
        charset="utf-8">
    <title>
        1 List
    </title>
    <meta
        name="description"
        content="Easiest list app ever.">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">
    <meta
        name="apple-mobile-web-app-capable"
        content="yes">  
    <link
        rel="shortcut icon"
        href="img/icon.png">
    <link
        rel="stylesheet"
        href="style.css?v=1">
    <link
        rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Delius">
</head>
<body>

<section>

<%- body %>

</section>

<script
    src="script.js"></script>
</body>
</html>
